@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --font-mulish: Mulish;
    --font-montserrat: Montserrat;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --title-size: 3.2rem;
    --second-title-size: 1.8rem;
    --border-radius: 40px;
    --title-color: #000000;
    --color-white: #FFFFFF;
    --dark-blue-black: #101B23;
    --smoky-blue: #486377;
    --dark-sea-blue: #2C4558;
    --background: #FEFAF2;
    --foreground: #blue;
    --background-btn: #095eac;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #d6e4f1;*/
/*    --foreground: #blue;*/
/*  }*/
/*}*/

html,
body {
    max-width: 100vw;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    color: var(--title-color);
    background: var(--background);
    font-family: var(--font-montserrat), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

#__next {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.react-tel-input {
    height: 100% !important;
}

.react-tel-input .flag-dropdown {
    background-color: transparent !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
    background-color: transparent !important;
}

@media (max-width:768px) {
    #__next{
        height: auto;
    }
}


