.quizl__form {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(254, 250, 242, 0.8), rgba(254, 250, 242, 0.8)),
    url(../../public/advokat.jpeg) no-repeat center center;
    background-size: cover;
}

.processBar {
    width: 0;
    height: 5px;
    background-color: var(--dark-blue-black);
    transition: all .3s ease-in-out;
}

.quizl__form .label {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 190px;
    height: 55px;
    font-size: .8rem;
    font-weight: var(--font-weight-regular);
    /*border: 1px solid var(--dark-blue-black);*/
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 0px 1px var(--dark-blue-black);
    transition: all .3s linear;
}

.quizl__form .label:hover {
    box-shadow: 0px 0px 0px 2px var(--dark-blue-black);
    font-weight: var(--font-weight-semibold);
}

.inputTextWrapp {
    width: 100%;
    height: 55px;
    border: 1px solid var(--dark-blue-black);
    border-radius: var(--border-radius);

}

.inputTextWrapp input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: .8rem;
    font-weight: var(--font-weight-regular);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
}

.inputTextWrapp input[type="tel"] {
    width: 100% !important;
    height: 100% !important;
    font-weight: var(--font-weight-regular);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
}


.quizl__form input[type="radio"] {
    position: relative;
    display: none;
}

.custom__radio {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--dark-blue-black);
    border-radius: 50%;
    margin-right: 4px;
    transition: all .3s linear;
}

.quizl__form input[type='radio']:checked ~ .custom__radio::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--color-white);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.labelChecked {
    color: var(--color-white);
    background-color: var(--dark-sea-blue);
}

.labelChecked .custom__radio {
    border: 1px solid var(--color-white);
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0 85px 85px 0;
    gap: 10px;
}

.quizl__form .navigationBtn {
    width: 60px;
    height: 55px;
    border: 1px solid var(--dark-blue-black);
    background-color: transparent;
    cursor: pointer;
    transition: all .3s linear;
}

.quizl__form .navigationBtn:hover {
    background-color: var(--dark-blue-black);
}

.quizl__form .navigationBtn:hover > svg path {
    fill: var(--color-white);
}

.btnSubmit {
    width: 305px;
    min-height: 55px;
    color: var(--color-white);
    border-radius: var(--border-radius);
    background-color: var(--dark-blue-black);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.question__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
}

.containerWrapp {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    height: 100%;
    max-width: 640px;
}

.quizl__title {
    font-size: 1.9rem;
    font-weight: var(--font-weight-semibold);
    text-align: center;
    margin-bottom: 16px;
}

.quizl__desc {
    font-size: 1.25rem;
    font-weight: var(--font-weight-regular);
    text-align: center;
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 640px;
    gap: 20px;
    margin-bottom: 20px;
}

.labelPolicy {
    margin-bottom: 20px;
}

.prived__policy {
    font-size: .7rem;
    color: #979797;
}

.policy__link {
    color: var(--dark-blue-black);
}

.socialMedia {
    position: relative;
    text-align: center;
}

/*.socialMedia::after {*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute;*/
/*    left:-0;*/
/*    right: 0;*/
/*    top:20px;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: var(--dark-blue-black);*/
/*}*/
.socialMediaTitle {
    position: relative;
    text-align: center;
    margin: 0 auto 16px auto;
}

.socialMediaTitle::before,
.socialMediaTitle::after {
    content: "";
    height: 1px;
    width: 45%;
    display: block;
    position: absolute;
    top: 50%;
    background-color: var(--dark-blue-black);
}

.socialMediaTitle::before {
    left: 0;
}

.socialMediaTitle::after {
    right: 0;
}


.socialMedia p {
    margin-bottom: 40px;
}

.socialMediaLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width: 768px) {
    .navigation {
        padding-bottom: 20px;
    }
}

@media (max-width: 610px) {
    .row {
        flex-direction: column;
    }
}

@media (max-width: 490px) {
    .navigation {
        padding-right: 50px;
    }
}